<div class="col col-1" style="color: #31708f ;font-weight: bold;" data-label="Event">Break</div>
<div class="col col-1-2" style="font-weight: bold" data-label="Date">
    {{ include.event.date | date: site.dateformat }}
    {% unless include.event.hide_time %}
    {{ include.event.date | date: "%H:%M" }}
    {% endunless %}
</div>
<div class="col col-2" style="font-weight: bold" data-label="Description">
    {{ include.event.description }}
</div>
<div class="col col-4" data-label="Course Material">
</div>
